<!DOCTYPE html>
<html>
<head>
    <title>Backbone Koans - Tooter App</title>
    <script type="text/javascript" src="ext/jquery.js"></script>
    <script type="text/javascript" src="ext/underscore.js"></script>
    <script type="text/javascript" src="ext/backbone.js"></script>
    <script type="text/javascript" src="ext/backbone.localStorage.js"></script>
    
    <script type="text/javascript" src="tooterApp.js"></script>
</head>
<body>
    <script type="text/template" id="tooterAppTmpl">
        <div>
            <input class="tootInput" type="text"/>
            <ul class="tootList"></ul>
        </div>
    </script>
    
    <script type="text/template" id="tootViewTmpl">
        <span class="toot">
            <img class="tootIcon" src="<%= iconUrl %>"/>
            <span class="tootMessage"><%= message %></span>
        </span>
    </script>
    
    <script type="text/javascript">
    $(document).ready(function(evt) {
        Backbone.localStorageDB = new Store('toots');
        App = new Tooter.TootApp();
    });
    </script>
</body>
</html>
