<!DOCTYPE html>
<html>
<head>
    <title>Backbone Koans</title>
    <link href="koansReporter.css" media="all" rel="stylesheet" type="text/css"/>
    
    <script type="text/javascript" src="ext/jquery.js"></script>
    <script type="text/javascript" src="ext/underscore.js"></script>
    <script type="text/javascript" src="ext/backbone.js"></script>
    <script type="text/javascript" src="ext/backbone.localStorage.js"></script>
    
    <script type="text/javascript" src="tooterApp.js"></script>
    
    <script type="text/javascript" src="ext/jasmine.js"></script>
    <script type="text/javascript" src="koansReporter.js"></script>
    
    <script type="text/javascript" src="koans/aboutEvents.js"></script>
    <script type="text/javascript" src="koans/aboutModels.js"></script>
    <script type="text/javascript" src="koans/aboutCollections.js"></script>
    <script type="text/javascript" src="koans/aboutViews.js"></script>
</head>
<body>
    <h1>Backbone Koans</h1>
    
    <div id="summary">
    </div>
    
    <script type="text/template" id="tooterAppTmpl">
        <div>
            <input class="tootInput" type="text"/>
            <ul class="tootList"></ul>
        </div>
    </script>
    
    <script type="text/template" id="tootViewTmpl">
        <span class="toot">
            <img class="tootIcon" src="<%= iconUrl %>"/>
            <span class="tootMessage"><%= message %></span>
        </span>
    </script>
    
    <script type="text/javascript">
    var reporter = new KoansReporter();
    
    $(document).ready(function(evt) {
        jasmine.getEnv().addReporter(reporter);
        jasmine.getEnv().execute();
    });
    </script>
</body>
</html>
